<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="IIUCImagine, Microsoft Imagine Access, IIUC" />
    <META name="Description" 
          content="Microsoft Imagine - IIUC is the project of Microsoft Imagine Cup. If you are a member of our University Imagine - IIUC then You can download all developing software with free of cost under this project.
          Microsoft’s annual Imagine Cup, a global competition of high-tech student projects,
          reached its culmination this week accompanied by the usual pomp at the company’s headquarters in Redmond.
          The winner of the $100,000 grand prize">
    <link href="~/favicon.ico" rel="shortcuticon" type="image/x-icon" />
    <title>@ViewBag.Title - IIUC Imagine</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("myCSS",required:false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Microsoft Imagine - IIUC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  
                    @*<li>@Html.ActionLink("Program Benifits", "About", "Home")</li>*@
                    @*<li>@Html.ActionLink("Enroll or Review", "About", "Home")</li>*@
                    @*<li>@Html.ActionLink("Access Subscriptions", "About", "Home")</li>*@

                    <li><a href="https://goo.gl/hqyUzL" target="_blank">Downloads Catalog</a> </li>
                    <li><a href="https://imagine.microsoft.com/en-us/Institutions/Benefits" target="_blank">Program Benifits</a> </li>
                    <li>@Html.ActionLink("Support", "Support", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
          
            <p style="text-align: center">&copy; @DateTime.Now.Year - Microsoft Imagine - IIUC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
